
.Headermain{
    height: 15vmin;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vmax;
}

.Headermain p{
    color: white;
    font-size: 40px;
}