.createScheme{
    /* width: '100%'; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vmin;
    width: 100vmax;
}

.createScheme input{
    width: 30vmax;
    height: 5vmin;
}

.lineView{
    height: 1px;
    width: 80vmax;
    background-color: black;
    margin-top: 3vmin;
    margin-bottom: 1vmin;
}

.submitbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 5px 200px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5vmax;
  }

  .error{
    font-size: 10px;
    color: red;
  }